* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* Header */
.fixed {
    position: sticky;
    top: -28px;
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav li.active a {
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .btn {
    display: block;
    min-width: 118px;
    background: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.header .action-btn {
    width: 144px;
    height: 50px;
    line-height: 50px;
    margin-left: 70px;
}
